.indexBackground{
    background-image: url(../_Imgs/monet.webp);
}
.artExemples{
    height: 100vh;
}

body{
    backdrop-filter: brightness(20%);
    background-image: url(../_Imgs/monet.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.artExemples{
    height: 100%;
}


@media (max-width:600px) {
    .artExemples{
        height: 100%;
    }
    
}

