* {
    margin: 0px auto;
}


header {
    width: 90%;
    height: 80px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: black;
}

.menu {
    flex: 80%;
    width: 87%;
    height: 100px;
    margin-top: 2vh;
    display: flex;
    align-items: center;
}

.menu a {
    display: flex;
    height: 50%;
    padding: 1.2vh;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.menu a:hover {
    background-color: #dfc7c7;
    color: black;
    transition: 0.4s;
    border-radius: 10px 0px 10px 0px;
}

body{
    width: 99%;
}

.k , .sumenu, .subList{
    display: none;
}

input[type=text], [type=password], [type=submit]{
    background-color: white;
    border-radius: 10px;
    border: solid black;
    display: flex;
    margin-top: 5px;
    color: black;
    text-align: center;
    text-align: left;
}

.Titulo{
    flex: 55%;
}

.Titulo h1{
    color: rgb(0, 0, 0);
    border-bottom: solid 1px black;
    width: 90%;
    font-family: 'Inter Tight', sans-serif;
}

.Img_texto img{
    animation-name: Bananinha;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    flex: 45%;
}

@keyframes Bananinha{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-25px);
    }

    100%{
        transform: translateY(0px);
    }
}


/* Caixa De Texto */
.maior_texto_explicativo{
    background-color: white;
    display: flex;
    border-radius: 30px;
    width: 90%;
}

.Dtexto{
    flex: 50%;
    display: flex;
    align-items: center;
}


.texto_explicativo{
    color: black;
    flex: 50%;
    width: 90%;
}

.texto_explicativo h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Inter Tight', sans-serif;
}

.texto_explicativo p{
    padding: 20px;
    width: 90%;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    
}

.Dtexto img{
    display: flex;
    height: 300px;
    animation-name: Menina;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes Menina{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0px);
    }
}

.Bem_Vindo{
    width: 90%;
    display: flex;
    align-items: center;
}

.Bem{
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 5px;
}

.Inicio{
    width: 90%;
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

.Texto_Inicio{
    margin: 10px;
    padding: 10px;
}

.Texto_Inicio h2{
    display: flex;
    text-align: center;
    margin: 20px;
}

.Texto_Inicio p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}

.Comocuidar{
    background-color: rgb(255, 255, 255);
    width: 89%;
    border-radius: 30px;
}

.Titulo_como_cuidar{
    align-items: center;
    width: 100%;
    display: flex;
    padding: 10px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Titulo_Principal{
   display: flex;
   flex: 90%;
   align-items: center;
   width: 100%;
}

.Dicas_IMG{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.Dicas{
    width: 90%;
    display: flex;
    height: 300px;
    flex-direction: column;
}

.Dicas p{
    width: 90%;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    font-family: 'Lato', sans-serif;;
}

.News1{
    width: 50%;
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 30px;
}

.News1 h2{
    padding: 10px;
    font-size: 1.6em;
}

.caixa{
    height: 400px;
    width: 90%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.big{
    flex: 60%;
    display: flex;
    padding: 10px;
    margin: 30px;
    align-items: center;
    width: 90%;
    background-color: transparent;

}

.big h2{
    display: none;
}
.previn{
    flex: 50%;
    height: 300px;
    display: flex;
    margin: 20px;
    transition: all 0.4s;
}

a{
    text-align: center;
    color: black;
}

p{
    margin-top: 5px;
    color: black;
}

.big img{
    transition: all 0.3s;
    width: 307px;
    height: 85%;
    
}

.previn:hover{
    transform: scale(1.1);
    background-color: rgb(194, 174, 147);
    border-radius: 30px;
}

.previn img:hover{
    border-radius: 30px 30px 0px 0px;
}


footer{
    width: 90%;
	background-color: white;
    padding: 10px;
    border-radius: 10px 10px;
    color: black;
    display: flex;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: black;
}

@media (max-width:600px) {

    /* Brisa do Tcholinha */

    header{
        width: 100% !important;
        border-radius: 0;
        margin-top: 0vh !important;
        height: 10vh !important;
    }

    div.menu{
        display: none;
    }

    .menuResponsavel{
        display: block;
        height: 100%;
        width: 100%;
        left: 10px;
    }

    .k{
        display: flex;
        height: 100%;
        width: 100%;

    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        margin: 5px 0;
        transition: 0.4s;
    }

    .barras {
        transition: 400ms ease;
    }

    .menuIcon:hover .barras {
        transform: rotate(90deg);
    }

    .menuIcon{
        height: 100%;
        display: flex;
        align-items: center;
        flex: 5%;
    }

    .submenu{
        position: absolute;
        top: 10vh;
        z-index: 3;
        width: 100%;
        display: none;
        transition: 400ms ease;
        background-color: rgba(0, 0, 0, 0.665);
        animation:  headerHover 500ms;
    }
    
        .menuIcon:hover .submenu{
            display: block;
        }


        @keyframes headerHover {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        .subList{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            transition: 200ms;
        }
        .submenu a{
            padding: 30px 40px;
            width: 100%;
            text-decoration: none;
            color: white;
            font-size: 1.3em;
            display: flex;
            align-items: center;
        }
    
        .subList a:hover{
            color:  #000000;
        }

/* ends heres */

.Bem_Vindo{
    width: 90%;
    display: flex;
    align-items: center;
}
    
.Bem{
    align-items: center;
    display: flex;
    padding: 5px;
    width: 90%;    
}
    
    .Inicio{
        width: 90%;
        margin: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
    }
    
    .Texto_Inicio{
        margin: 5px;
        padding: 5px;
    }
    
    .Texto_Inicio h2{
        display: flex;
        text-align: center;
        width: 90%;
    }
    
    .Texto_Inicio p, li{
        text-align: justify;
        font-family: 'Lato', sans-serif;
        font-size: 1.25em;
        padding: 10px;
    }
    
   

    .maior_texto_explicativo{
        background-color: white;
        display: flex;
        border-radius: 30px;
        width: 85%;
        flex-direction: column;
    }
    
    .Dtexto{
        flex: 50%;
        display: flex;
        align-items: center;
    }
    
    
    .texto_explicativo{
        color: black;
        flex: 50%;
        width: 90%;
    }
    
    
    .texto_explicativo h1{
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: 'Inter Tight', sans-serif;
    }
    
    .texto_explicativo p{
        padding: 20px;
        width: 90%;
        text-align: justify;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    
    .Dtexto img{
        display: flex;
        height: 300px;
        animation-name: Menina;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        position: relative;
        flex-direction: column;
        width: 90%;
        padding: 10px;
    }

    @keyframes Menina{
        0%{
            transform: translateY(0px);
        }
    
        50%{
            transform: translateY(-10px);
        }
    
        100%{
            transform: translateY(0px);
        }
    }


    .Comocuidar{
        background-color: rgb(255, 255, 255);
        width: 85%;
        border-radius: 30px;
        flex-direction: column;
        text-align: center;
        padding-bottom: 45px;
        padding-top: 30px;
    }
    
    .Titulo_como_cuidar{
        align-items: center;
        width: 90%;
        display: flex;
        padding: 10px;
        margin: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .Titulo_Principal{
       display: flex;
       flex-direction: column;
       flex: 90%;
       align-items: center;
       width: 100%;
    }
    
    .Dicas_IMG img{
        width: 100%;
        display: flex;
        align-items: center;        
    }
    
    .Dicas{
        width: 90%;
        display: flex;
        height: 300px;
    }
    
    .Dicas h2{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Dicas p{
        width: 100%;
        height: 300px;
        margin-right: 50px;
        text-align: justify;
        color: rgb(0, 0, 0);
        font-size: 1.25em;
        font-family: 'Lato', sans-serif;;
    }

    .Dicas img{
        flex-direction: column;
        width: 90%;
    }

    .Transtornos{
        width: 90%;
        border-radius: 30px;
        align-items: center;
        display: flex;
        background-color:rgb(194, 174, 147);
        border: solid 1px black;
    }
    
    .News1{
        width: 90%;
        display: flex;
        align-items: center;
    }

    section.caixa{
        height: 1500px;
        width: 80%;
        display: flex;
        align-items: center;
        background-color: antiquewhite;
        flex-direction:column;
        background-color: transparent;
        border-radius: 30px;
    }
    
    .big{
        flex: 60%;
        display: flex;
        padding: 40px;
        margin: 60px;
        align-items: center;
        width: 90%;
        flex-direction: column;
        background-color: white;
        border-radius: 30px;
    }
    
    .previn{
        flex: 90%;
        height: 300px;
        display: flex;
        transition: all 0.4s;
    }
    
    a{
        text-align: center;
        color: black;
    }
    
    p{
        margin-top: 5px;
        color: black;
    }
    
    .big img{
        transition: all 0.3s;
        width: 307px;
        
    }
    
    .previn:hover{
        transform: scale(1.1);
        background-color: rgb(194, 174, 147);
        border-radius: 30px;
    }
    
    .previn img:hover{
        border-radius: 30px 30px 0px 0px;
    }

    .previn a img[alt$="Adolescente Ansioso"]{
        width: 50vh;

    }
    footer{
        width: 90%;
        background: white;
        text-align: center;
        flex-direction: column;
        border-radius: 10px 10px;
        color: rgb(0, 0, 0);
        display: flex;
    }
    
    footer a{
        text-decoration: none;
        color: black;
    }
    


}